<mat-toolbar>
    <mat-icon>assignment</mat-icon>
    <mat-menu #appMenu="matMenu">
      <button (click)="onAbout()" mat-menu-item><mat-icon>help</mat-icon>About</button>
      <button mat-menu-item><mat-icon>dock</mat-icon>Help</button>
    </mat-menu>
    
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <h3>Todo Demo App</h3>
</mat-toolbar>

<div style="text-align:center">
    <mat-card>
        <h1>
          Welcome to {{ title }}!
        </h1>
    </mat-card>
  
    <mat-card>
        <app-todo-input (add)="onAddTodo($event)"></app-todo-input>
 
    </mat-card>
    <mat-card>
        <app-todo-list [todos]="todo_list"></app-todo-list>

    </mat-card>

    <mat-card>
       <h5>{{message}}</h5>
    </mat-card>
    
    </div>

 
